*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;    
    /* this is done to ensure it looks the same on all browsers */ 
}
#container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background: black;
}
#canvas{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;

}
#audio1{
    width: 50%;
    margin: 50px auto;
    display: block;
}